body {
  background-color: #111827;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  width: 45%;
  padding: 20px;
  border-radius: 10px;
  background-color: #1f2937;
}
